@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "din-bold";
  src: url(../fonts/din-bold.woff2);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "din-medium";
  src: url(../fonts/din-medium.woff2);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "din-regular";
  src: url(../fonts/din-regular.woff2);
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.6;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (max-width: 780px) {
  .container {
    padding: 0 2rem;
  }
}

.d--grid {
  display: -ms-grid;
  display: grid;
}

.d--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text--center {
  text-align: center;
}

.fs--lg {
  font-size: clamp(25px, 5vw, 35px);
}

@media screen and (max-width: 780px) {
  .fs--lg {
    line-height: 1.4;
  }
}

.fs--xl {
  font-size: clamp(30px, 5vw, 40px);
}

@media screen and (max-width: 780px) {
  .fs--xl {
    line-height: 1.3;
  }
}

.text--primary {
  color: #ee1757;
}

.bg--dark {
  background-color: black;
  color: white;
}

@media screen and (max-width: 780px) {
  .lg--only {
    display: none;
  }
}

.btn {
  min-width: 17rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.6rem 3rem;
}

.btn--light {
  background-color: white;
  color: #ee1757;
}

.btn--primary {
  background-color: #ee1757;
  color: white;
}

.block__article {
  display: -ms-grid;
  display: grid;
  place-content: center;
  max-width: 45rem;
}

@media screen and (max-width: 900px) {
  .block__article {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.block__article h2 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-family: "Din-bold", sans-serif;
}

@media screen and (max-width: 900px) {
  .block__article h2 {
    text-align: center;
  }
}

.block__article p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.block__article ul {
  margin-bottom: 4rem;
  list-style: disc;
}

.block__article ul li {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 1.8rem;
}

.banner {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: radial-gradient(circle, #ff00e2 0%, #ee1757 57%);
  background-position: 50% 40rem;
}

.banner__overlay {
  position: absolute;
  top: 0;
  width: 100vw;
}

@media screen and (max-width: 1380px) {
  .banner__overlay {
    top: 50%;
  }
}

.banner__img img {
  position: absolute;
  left: -5rem;
  width: 1060px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1380px) {
  .banner__img img {
    left: -15rem;
  }
}

.banner__wrapper {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.banner__content {
  z-index: 999999;
  justify-self: flex-end;
  color: white;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner__content h1 {
  font-size: clamp(3rem, 3vw, 6.5rem);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  font-family: "din-bold", sans-serif;
  width: 100%;
  margin-bottom: 2rem;
}

.banner__content h1 span {
  position: relative;
  z-index: 9999;
}

.banner__content h1 span::after {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: 0;
  width: 110%;
  z-index: -1;
  background-color: #2b93d1;
  height: 60%;
}

.banner__content p {
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.banner__content p span {
  font-weight: bold;
}

.block {
  padding: 10rem 0;
}

.block__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

@media screen and (max-width: 900px) {
  .block__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block figure {
  position: relative;
}

@media screen and (max-width: 900px) {
  .block figure {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.block figure .redbox {
  position: absolute;
  left: -2rem;
  top: 2rem;
  z-index: -1;
}

.carousel__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

@media screen and (max-width: 900px) {
  .carousel__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 1.5rem;
  }
}

.carousel .slider {
  position: relative;
}

.carousel .slider__wrapper {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 900px) {
  .carousel .slider__wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.carousel .slider__wrapper .tns-outer {
  width: 150%;
  padding-bottom: 4rem !important;
}

@media screen and (max-width: 1380px) {
  .carousel .slider__wrapper .tns-outer {
    width: 100%;
  }
}

.carousel .slider__wrapper .tns-outer .tns-nav {
  position: absolute;
  bottom: 1rem;
  right: 30%;
}

@media screen and (max-width: 900px) {
  .carousel .slider__wrapper .tns-outer .tns-nav {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.carousel .slider__wrapper .tns-outer .tns-nav button {
  background-color: red;
  margin: 0 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: none;
}

.carousel .slider__item div {
  overflow: hidden;
}

.carousel .slider__item div img {
  width: 100%;
  height: 56rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta {
  background-color: #ee1757;
  color: white;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.cta h2 {
  font-family: "din-bold";
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 5.2rem);
  margin-bottom: 0;
}

.cta__bars {
  position: absolute;
}

.cta .bar__top {
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 900px) {
  .cta .bar__top {
    top: -3rem;
    left: -3rem;
  }
}

.cta .bar__bottom {
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 900px) {
  .cta .bar__bottom {
    bottom: -3rem;
    right: -3rem;
  }
}

.testimonial {
  padding: 10rem 0;
}

.testimonial__header {
  text-align: center;
  margin-bottom: 5rem;
}

.testimonial__header h2 {
  font-size: clamp(2.5rem, 5vw, 5.2rem);
  font-family: "din-bold";
}

.testimonial__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

@media screen and (max-width: 900px) {
  .testimonial__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.testimonial__card {
  min-height: 43rem;
  padding: 3rem 2.5rem;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
}

.testimonial__card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.testimonial__card p {
  font-size: 1.8rem;
}

.testimonial__card .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card .avatar__info {
  margin-left: 2rem;
}

.testimonial__card .avatar__info h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
  line-height: 1.2;
}

.testimonial__card .avatar__info small {
  font-size: 1.4rem;
}

.footer {
  background-color: #ee1757;
  padding: 3rem 0;
  font-size: 1.2rem;
  color: white;
}

@media screen and (max-width: 900px) {
  .footer {
    text-align: center;
  }
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 5rem;
}

@media screen and (max-width: 900px) {
  .footer__wrapper {
    grid-gap: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .footer__wrapper .footer__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=main.css.map */