.modal.show {
  display: grid;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  place-content: center;
  z-index: 999999;

  &__main {
    max-width: 35rem;
    margin: 0 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $light;
    padding: 2rem;
    border: 1px solid #ebebeb;
    @include media-query(900px) {
      max-width: 32rem;
    }
    img {
      margin: 1rem auto;
      display: block;
    }

    h2 {
      text-align: center;
      font-size: clamp(2.6rem, 5vw, 3rem);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 3rem;
    }

    p {
      text-align: center;
      font-size: 1.4rem;
      margin-top: 2rem;
    }
    .form__group {
      margin-bottom: 1rem;
      input,
      select {
        border: 1px solid #ebebeb;
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 100%;
        outline: none;
        &:focus {
          border-color: $primary;
        }
      }
    }

    .form__group.checkbox {
      .checkbox__wrapper {
        display: flex;
        align-items: center;
        input {
          width: auto;
          margin-right: 1rem;
          border: 1px solid #ebebeb;
          background-color: #f8f8f8;
        }

        a {
          padding-left: 1rem;
          color: $dark;
        }
      }
    }
  }
}
